body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
#sus{
    margin-left: 480px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#main-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 20px;
}

button {
  cursor: pointer;
}
